MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=database

TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_EXPIRY_MS=PX
REDIS_MAX_AGE=

PYTHON_MICROSERVICE_BASE_URL=http://localhost:8000
