@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font: bold 28px 'Righteous';
  margin-top: 16px;
  text-align: center;
}

.token {
  transition: transform 0.1s linear;
}

.token.fade-out {
  animation: fadeOut forwards; /* No duration specified here as the duration will be assigned dynamically in the logic */
}

.token.fade-in {
  animation: fadeIn forwards; /* No duration specified here as the duration will be assigned dynamically in the logic */
}

.timeline {
  position: fixed;
  top: 700px;
  left: 10px;
  width: calc(100% - 20px);
  height: 10px;
  background: #aaaaaa;
  border-radius: 5px;
}

.progress-bar {
  height: 100%;
  background: #76c7c0;
  width: 0;
  border-radius: 5px;
}

.pointer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 20px;
  height: 30px;
  background: #76c7c0;
  clip-path: polygon(50% 0%, 0% 50%, 0% 100%, 100% 100%, 100% 50%);
  transform: translate(-50%, 0);
}

.start-date {
  position: absolute;
  color: #555;
  bottom: 100%;
  left: 0;
}

.end-date {
  position: absolute;
  color: #555;
  bottom: 100%;
  right: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
