@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist Sans';
  src: url('../fonts/GeistVF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('../fonts/GeistMonoVF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist Sans', sans-serif;
}

h1 {
  font: bold 28px 'Righteous';
  margin-top: 16px;
  text-align: center;
}

.token {
  transition: transform 0.1s linear;
}

.token.fade-out {
  animation: fadeOut forwards; /* No duration specified here as the duration will be assigned dynamically in the logic */
}

.token.fade-in {
  animation: fadeIn forwards; /* No duration specified here as the duration will be assigned dynamically in the logic */
}

.timeline {
  position: fixed;
  top: 700px;
  left: 10px;
  width: calc(100% - 20px);
  height: 10px;
  background: #aaaaaa;
  border-radius: 5px;
  cursor: pointer;
}

.timeline-shade-wrapper {
  position: absolute;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 50px;
  bottom: 115%;
}

.timeline-shade {
  flex: 1;
  background-color: #d0e0f7;
  opacity: 0.6;
}

.progress-bar {
  height: 100%;
  background: #76c7c0;
  width: 0;
  border-radius: 5px;
}

.pointer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 20px;
  height: 30px;
  background: #76c7c0;
  clip-path: polygon(50% 0%, 0% 50%, 0% 100%, 100% 100%, 100% 50%);
  transform: translate(-50%, 0);
}

.start-date {
  position: absolute;
  color: #555;
  bottom: 100%;
  left: 0;
}

.end-date {
  position: absolute;
  color: #555;
  bottom: 100%;
  right: 0;
}

.timeline-tooltip {
  position: absolute;
  display: none;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-size: 12px;
  border-radius: 4px;
  pointer-events: none;
}

.play-controls {
  position: fixed;
  top: 750px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.control-btn {
  background: #76c7c0;
  color: white;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.2s;
}

.simulated-time-box {
  position: fixed;
  top: 750px;
  left: 10px;
  background: #76c7c0;
  color: white;
  padding: 10px;
  height: 40px;
  min-width: 160px;
  border-radius: 5px;
  font-size: 14px;
  font-family: monospace;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.speed-select {
  position: fixed;
  top: 750px;
  right: 10px;
  height: 40px;
  background: #76c7c0;
  color: white;
  padding: 10px;
  min-width: 80px;
  border-radius: 5px;
  font: bold 14px monospace;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.stats-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.stats-toggle-btn {
  background: #dddddd;
  color: #777777;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 20px 5px;
  cursor: pointer;
  align-self: center;
  opacity: 0.7;
}

.stats-container {
  width: 300px;
  background-color: #f0f0f0;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  padding: 16px;
  opacity: 0.9;
}

.stats-container > h2 {
  font-weight: bold;
  font-size: 24px;
  border-bottom: 2px dashed #888888;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.stats-element {
    margin-bottom: 32px;
}

.stats-element > h3 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.stats-element > p {
  font-size: 14px;
}

.stats-element-chart {
    position: relative;
    width: 250px;
    height: 120px;
}

.stats-element-chart > .y-axis {
    position: absolute;
    left: 24px;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: black;
    z-index: 2;
}

.stats-element-chart > .x-axis {
    position: absolute;
    left: 24px;
    bottom: 0;
    width: calc(100% - 24px);
    height: 2px;
    background-color: black;
    z-index: 2;
}

.stats-element-chart > .y-axis-label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: center;
    font-size: 12px;
    white-space: nowrap;
}

.stats-element-chart > .x-axis-label {
    position: absolute;
    right: 0;
    bottom: -18px;
    font-size: 12px;
}

.stats-element-chart > .line-svg,
.stats-element-chart > #cycle-time-chart-time-bar {
    position: absolute;
    left: 24px;
    top: 0;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.stats-element-chart > .line-svg {
    width: calc(100% - 24px);
}

.stats-element-chart > #cycle-time-chart-time-bar {
    background-color: black;
    opacity: 0.2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
